<!DOCTYPE html>
<html lang="es">
<title>La banda</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<!-- Load Leaflet from CDN-->
<link rel="stylesheet" href="https://unpkg.com/leaflet/dist/leaflet.css" />
<script src="https://unpkg.com/leaflet/dist/leaflet-src.js"></script>

<!-- Load Esri Leaflet from CDN -->
<script src="https://unpkg.com/esri-leaflet"></script>

<!-- Esri Leaflet Geocoder -->
<link rel="stylesheet" href="https://unpkg.com/esri-leaflet-geocoder/dist/esri-leaflet-geocoder.css">
<script src="https://unpkg.com/esri-leaflet-geocoder"></script>
<style>
    #map {
        width: 100%;
        height: 400px;
    }
</style>
<body>

<!-- Navbar -->
<nav class="navbar navbar-expand-md bg-info navbar-dark">
    <a href="index.php"><span class="navbar-brand mb-0 h1">InfoNete</span></a>
    <div class="col clearfix">
        <a href="/usuario/cerrarSesion"><button type="button" class="btn btn-outline-light float-right mr-3">Cerrar Sesión</button></a>
    </div>
</nav>

<!-- Page content -->
<div class="container">